@{
    ViewBag.Title = "OldAPI";
    Layout = null;
}

<html>
<head>
    <title>OldAPI</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resource/bootstrap-3.3.0-dist/css/bootstrap.min.css")">
    <style type="text/css">
        label
        {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div style="width: 100%; margin: auto">
        <div class="search" style="margin-left: 20px; margin-top: 15px">
            <form class="form-inline" role="form">
                <label for="id">接口类型：</label>
                <select id="type" class="form-control" style="width: 100px">
                    <option id="1">查询</option>
                    <option id="2">订单</option>
                </select>
                <label for="name">接口名称：</label>
                <input type="text" class="form-control" id="name" placeholder="请输入名称">
                <button type="button" class="btn btn-primary">搜索</button>
            </form>

        </div>
        <div style="margin-left: 20px;">
            <button type="button" class="btn btn-info">全部测试</button>&nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn btn-info">添加</button>
        </div>
        <div class="data">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="ckall" /></th>
                        <th>接口名</th>
                        <th>说明</th>
                        <th>测试地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input type="checkbox" name="ck" /></td>
                    <td>Test</td>
                    <td>测试</td>
                    <td>
                        <select>
                            <option id="openapi">openapi</option>
                            <option id="openapi1">openapi1</option>
                            <option id="openapitest">openapitest</option>
                        </select></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="@Url.Content("~/Resource/Js/jquery-2.1.3.min.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Resource/bootstrap-3.3.0-dist/js/bootstrap.min.js")"> </script>
<script type="text/javascript">
    $("#ckall").click(function () {
        if (this.checked) {
            $("input[name='ck']").prop("checked", true);
        }
        else {
            $("input[name='ck']").removeAttr("checked");
        }
    });
</script>
