<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenAPIUnitTest.Model.Properties.Settings.OpenAPI_UnitTestConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=OpenAPI_UnitTest;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>